/*검색 키워드 자동 완성*/
.suggestions-list {
  display: none; /* 기본적으로 숨김 */
  position: absolute; /* 검색창 바로 아래에 위치하도록 설정 */
  top: 2.5rem; /* 검색창 아래 위치 */
  left: 1.5rem;
  width: 75%; /*95*/
  overflow-y: auto; /* 스크롤 활성화 */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*#fff*/
  border-radius: 20px;
  z-index: 1000; /* 검색창보다 위에 표시되도록 */
  padding: 5px; /*10*/
}

/* 자동완성 목록 보이게 하기 */
.suggestions-list.show {
  display: block;
  opacity: 1;
}

/* 자동완성 항목 */
.suggestion-item {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.icon-container button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
}
