/*검색 키워드 자동 완성*/
.suggestions-list {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  width: 45rem;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 1000;
  padding: 5px;
}

/* 자동완성 목록 보이게 하기 */
.suggestions-list.show {
  display: block;
  opacity: 1;
}

/* 자동완성 항목 */
.suggestion-item {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.icon-container button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
}
